body{background-color: blueviolet;}
body{color: aqua;}
nav{height: 6000px;}
nav{width: 200px;}
nav{float: left;}
nav{padding: 5px;}
nav{line-height: 30px;}
footer{text-align: center;}
footer{margin-right: 200px;}
img{margin-right: 200px;}
header{text-align: center;}
